@import url(http://fonts.googleapis.com/css?family=Oswald);

html, * 
{
padding:0;
 margin:0;
 } 

body 
{
background-image:url('../images/bg.jpg');
font-family:Arial,Verdana,Helvetica,sans-serif;
 font-size:12px;
 }

a {
color:#000;
text-decoration:none;
}

li:hover{
text-decoration:underline;
-moz-box-shadow:0 0 15px #FF69B4;
-webkit-box-shadow:0 0 15px #FF69B4;
} 

#frame {
width:960px; 
margin:0 auto;
} 
/* Logo CSS Starts */
  #logo {
  width:200px;
  height:80px; 
  margin:15px auto;}
/* Logo CSS ENDS*/

/* Navigation and Search  CSS Starts*/

 .nav
 {
 width:100%;
 height:45px;
 background:#fff; 
 -moz-box-shadow:0 0 8px #666; 
 -webkit-box-shadow:0 0 8px #666; 
 box-shadow:0 0 8px #666;
 }
  .nav ul 
  {
  list-style:none;

  }
  .nav ul li 
  {
  /*margin:13px 22px;*/
  float: left;
font-size: 16px;
padding: 13px;
margin-right: 20px;
display: inline-block;
  }
  .nav div
  {
  float:right;
  }
  .nav p 
  {
  font-family: 'Oswald', sans-serif;
  margin:15px; 
  float:left;
  }
  #search
  {
  float:right;
  border:none;
  }

  #search input {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #CCCCCC;
  float: left;
  padding: 8px;
  width: 285px;
  margin:5px;
  }
  #search input.btn {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  margin: 10px 0 0 -40px;
  padding: 0;
  width: 30px;
  }
/* Navigation and Search CSS Ends */
/* Gallery Area */
#gallery { /*css for gallery div*/
width:960px;
height:370px;
margin:20px auto;
text-align:center;
background:#fff; 
-moz-box-shadow:0 0 8px #666;
-webkit-box-shadow:0 0 8px #666;
box-shadow:0 0 8px #666;
}
#gallery img {padding:10px 0;} /*css for img with in the gallery*/
/* Content Blocks */
.blocks {
width:193px;
float:left;
margin-right: 35.3px;
padding:10px;
/*height:350px*/
background:#fff;
-moz-box-shadow:0 0 8px #666;
-webkit-box-shadow:0 0 8px #666;
box-shadow:0 0 8px #666;
text-align:justify;
margin-bottom:15px;
border-top: 5px solid #FCE8E8;

}
.imagesblock
{
height:400;
}
.last
{
margin-right:0px;
margin-left: 0px;
}
.blocks img 
{
margin-bottom:5px;
width:180px;
height:180px;
}
.more 
{
font-size:12px;
 float:right; 
 color:#000;
 margin-top:7px;
 text-decoration:underline;
 }
 .more img
 {
 width:20px;
 height:20px;
 }
 /* Welcome Text Box */
#desc-box {
height:160px;
margin:10px auto;
text-align:center;
background:#fff;
-moz-box-shadow:0 0 8px #666;
-webkit-box-shadow:0 0 8px #666;
box-shadow:0 0 8px #666;
border-top: 5px solid #FCE8E8;
border-right: 5px solid #FCE8E8;
overflow:hidden;
padding:10px;

}
.thumbnails-div {
width:200px;
float:left;
}
.thumbnails-div img {
margin:4px;
height:75px;
width:75px;
}
.description {
float:right;
width:710px;
padding:10px;
text-align:justify;
}
.description h3{margin:5px 0;
font-family: 'Oswald', sans-serif;}
 #popup {
            width:500px;
            height:500px;
            background:#fff;
            border:10px solid #666;
            margin:30px auto;
            position:absolute;
            top:50%;
            left:50%;
            z-index:1;
            margin-top:-250px;
             margin-left:-250px;
             padding-left:100px;
             padding-top:25px;
             display:none;
        }
        #modal {
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.7);
           /* position:fixed;*/
            top:0;
            left:0;
           display:none;
        }
		/*  #close
          {
              width:25px;
              height:25px;
              margin-left:450px;
              margin-top:0px
          }*/
